/* - hacer reset en el css
 - no puede haber reglas vacias*/

/* -----------------------------------------------------------
                        Reset de CSS    
----------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* -----------------------------------------------------------
                        Componentes generales
por ej. button, card
----------------------------------------------------------- */







/* -----------------------------------------------------------
                        Sección Home     
----------------------------------------------------------- */









/* -----------------------------------------------------------
                        Sección Contacto     
----------------------------------------------------------- */









/* -----------------------------------------------------------
                        Sección Galeria      
----------------------------------------------------------- */

.userCard{
    border: 1px solid black ;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.galeria-container {
    
}
    



@media screen and (max-width: 500px){
    .userCard{
        width: 100%;
    }
}






/* -----------------------------------------------------------
                        Sección Scroll      
----------------------------------------------------------- */